<app-header title="Noticias Principales" [showBackButton]="true"> </app-header>

<ion-content [fullscreen]="true" class="animate__animated animate__bounceInLeft">
  <ion-refresher color="light" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-errors 
   message="La consulta no fue exitosa a causa de un error externo, intente en varios minutos." 
   title="Ha ocurrido un error inesperado"
  *ngIf="generalError">

  </app-errors>

  <app-news-card [favorites]="false"  *ngIf="!generalError" [news]="news"></app-news-card>

  <ion-infinite-scroll
    threshold="100px"
    position="bottom"
    (ionInfinite)="getAllToScroll($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more news..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
