<app-header [segments]="segments" (selectedSegment)="getSegment($event)" [showSegment]="true" title="Encabezados" [showBackButton]="true"> </app-header>

<ion-content [fullscreen]="true">
  <ion-refresher color="light" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  


  <app-errors 
   message="La consulta no fue exitosa a causa de un error externo, intente en varios minutos." 
   title="Ha ocurrido un error inesperado"
  *ngIf="generalError">

  </app-errors>

  <app-news-card *ngIf="!generalError" [news]="news"></app-news-card>


  <ion-infinite-scroll
    threshold="100px"
    position="bottom"
    (ionInfinite)="getAllToScroll($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more news..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
