<app-header title="Encabezados" [showBackButton]="true"> </app-header>

<ion-content [fullscreen]="true">
  <ion-segment
    scrollable
    [value]="defaultSegment"
    mode="md"
    color="primary"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button
      *ngFor="let item of segments"
      mode="md"
      [value]="item.name"
    >
      <ion-label>
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        {{item.display}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
