<ion-header class="ion-no-border" color="primary" translucent="true">
  <ion-toolbar  color="dark" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="showBackButton" color="primary" defaultHref="/"></ion-back-button>
    <ion-back-button *ngIf="!showBackButton" color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="bg-dark py-3" style="margin-top: -10px!important;">
    <!-- <div class="float-left">
      <ion-button slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" color="dark" name="cog-outline"></ion-icon>
      </ion-button>
    </div> -->

    

    <!-- <ion-back-button *ngIf="showBackButton" color="primary" defaultHref="/"></ion-back-button> -->
    <!-- <ion-back-button *ngIf="!showBackButton" color="dark" defaultHref="/"></ion-back-button> -->

    <ion-title>
      <h3 class="ion-text-sm-left text-center text-white">
        <strong>{{ title }}</strong>
      </h3>
    </ion-title>
  </div>
</ion-header>
