<ion-header
  style="opacity: 1"
  class="ion-no-border"
  color="primary"
  translucent="true"
>
  <ion-toolbar color="dark" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="showBackButton"
        color="primary"
        defaultHref="/"
      ></ion-back-button>
      <ion-back-button
        *ngIf="!showBackButton"
        color="dark"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>

  <ion-segment
    *ngIf="showSegment"
    #segment
    class="mt-3"
    style="background-color: #2266cc; border-radius: 10px"
    scrollable
    [value]="defaultSegment"
    mode="md"
    color="dark"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button
      *ngFor="let item of segments"
      mode="md"
      [value]="item.name"
      (click)="sendValue(item)"
    >
      <ion-label style="color: white">
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        {{ item.display }}</ion-label
      >
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content> </ion-content>
